<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Steph's Notes</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href="/styles/style.css" rel="stylesheet">